.search {
  width: 100%;
  background-color: #f5f6f7;
}

.search__container {
  width: 100%;
  margin: 0;
  /* padding: 80px 106px 80px 102px; */
  padding: 80px 0;
}

.search__title {
  width: 712px;
  height: 46px;
  font-size: 40px;
  font-family: "Roboto-Slab", sans-serif;
  font-weight: 400;
  color: #1a1b22;
  margin: 0 0 64px 96px;
}

.search__cards-list {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  gap: 20px;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.search__button {
  width: 288px;
  height: 64px;
  font-size: 18px;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  color: #1a1b22;
  /* background-color: #ffffff; */
  border: none;
  border-radius: 80px;
  margin-top: 64px;
  margin-left: 562px;
  cursor: pointer;
  transition: transform 0.2s ease;
}

.search__button_logged-in {
  background-color: #ffffff;
}

.search__button_logged-out {
  background-color: #e8e8e8;
}

.search__button:hover,
.search__button_logged-out:hover,
.search__button_logged-in:hover {
  transform: scale(1.05); /* slightly enlarges */
}

.search__button:focus {
  outline: 2px solid #000;
  outline-offset: 2px;
}

.search__button:active {
  transform: scale(0.97);
  background-color: #e8e8e8;
}

/* Tablet Version */

@media screen and (max-width: 768px) {
  .search__container {
    padding: 40px 0;
  }

  .search__title {
    font-size: 28px;
    margin-bottom: 32px;
    margin-left: 26px;
  }

  .search__button {
    width: 240px;
    height: 56px;
    margin: 32px 256px 0;
    background-color: white;
    border: none;
  }
}

@media screen and (max-width: 320px) {
  .search {
    width: 100%;
  }

  .search__container {
    /* width: 320px; */
    /* padding: 40px 8px; */
    padding: 0;
    padding-bottom: 30px;
  }

  .search__title {
    font-size: 30px;
    margin-top: 16px;
    margin-bottom: 24px;
    margin-left: 13px;
    width: 288px;
  }

  .search__button {
    width: 288px;
    margin: 16px 8px 0;
    padding: 0;
  }
}
