.cards__list {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  gap: 20px;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
}

.card {
  width: 400px;
  height: 576px; /* 540 */
  position: relative;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  border-radius: 16px;
  background-color: white;
  transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.card:hover {
  transform: translateY(-5px);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
}

.card__image {
  width: 100%;
  height: 100%;
  /* object-fit: cover; */
  border-radius: 16px;
  cursor: pointer;
}

.card__category {
  position: absolute;
  top: 25px;
  left: 25px;
  width: 87px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  font-weight: 500;
  border-radius: 10px;
  color: #000000;
  background-color: white;
  cursor: pointer;
  margin: 0;
  transition: color 0.2s ease;
}

.card__delete-button {
  position: absolute;
  top: 25px;
  right: 25px;
  border-radius: 8px;
  background-image: url(../../images/trash.svg);
  background-repeat: no-repeat;
  background-position: center;
  width: 40px;
  height: 40px;
  border: none;
  background-color: white;
  cursor: pointer;
  transition: color 0.2s ease;
}

.card__delete-button:hover {
  background-image: url(../../images/trash-hover.svg);
}

.card__bookmark {
  position: absolute;
  top: 25px;
  right: 25px;
  border-radius: 8px;
  background-image: url(../../images/bookmark.svg);
  background-repeat: no-repeat;
  background-position: center;
  width: 40px;
  height: 40px;
  border: none;
  background-color: white;
  cursor: pointer;
  transition: color 0.2s ease;
}

.card__bookmark_active {
  background-image: url(../../images/bookmark-active.svg);
}

.card__content {
  margin: 20px 24px 24px 24px;
}

.card__date {
  width: 149px;
  height: 24px;
  font-size: 18px;
  font-weight: 400;
  color: #b6bcbf;
  margin: 0;
  padding-bottom: 12px;
}

.card__title {
  width: 352px;
  height: 60px;
  font-size: 26px;
  font-weight: 400;
  color: #1a1b22;
  border-radius: 10px;
  margin: 0;
  overflow: hidden;
  text-overflow: ellipsis;
}

/* .card__descripition {
  width: 352px;
  height: 110px;
  font-size: 16px;
  font-weight: 400;
  color: #1a1b22;
  top: 15px;
  display: flex;
  gap: 10px;
  align-items: center;
  margin: 0;
  padding-top: 16px;
  padding-bottom: 18px;
  overflow: hidden;
  text-overflow: ellipsis;
} */

.card__description {
  font-size: 16px;
  font-weight: 400;
  color: #1a1b22;
  margin: 0;
  padding-top: 10px;
  padding-bottom: 10px;
  max-height: 100px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.card__reference {
  width: 121px;
  height: 20px;
  font-size: 16px;
  font-weight: 700;
  color: #b6bcbf;
  margin: 0;
}

/* Tablet Version */

@media screen and (max-width: 768px) {
  .cards__list {
    justify-content: center;
    gap: 15px;
  }

  .card {
    width: 224px;
    height: 420px;
  }

  .card__image {
    height: 150px;
    object-fit: cover;
  }

  .card__date {
    width: 148px;
    height: 24px;
  }

  .card__title {
    font-size: 22px;
    width: 192px;
    height: auto;
    white-space: normal; /* Wrap text properly */
    overflow: visible;
  }

  .card__description {
    width: 192px;
  }

  .card__reference {
    width: 192px;
  }
}
