.main {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: -120px;
}

.main__content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  background-image: url(../../images/main.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding-top: 120px;
}

.main__heading {
  display: flex;
  flex-direction: column;
  gap: 32px;
  margin: 0;
}

.main__title {
  width: 608px;
  height: 128px;
  font-size: 60px;
  font-family: "Roboto-Slab", sans-serif;
  font-weight: 400;
  color: white;
  margin: 80px 0 0 0;
}

.main__title-span {
  display: block;
}

.main__subtitle {
  width: 608px;
  height: 24px;
  font-size: 18px;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  color: white;
  margin: 0;
}

.main__break-desktop {
  display: inline;
}

/* Tablet */

@media screen and (max-width: 768px) {
  .main__title {
    font-size: 36px;
    width: 385px;
    height: 80px;
  }

  .main__subtitle {
    font-size: 18px;
    width: 452px;
    height: 48px;
  }
}

@media screen and (max-width: 485px) {
  .main__content {
    width: 100%;
    max-width: 485px;
    height: 480px;
  }

  .main__heading {
    height: 168px;
  }

  .main__title {
    margin: 0;
  }

  .main__subtitle {
    width: 315px;
    height: 72px;
    font-size: 18px;
  }
}

@media screen and (max-width: 405px) {
  .main__content {
    max-width: 405px;
  }

  .main__title {
    margin: 0;
    width: 301px;
    font-size: 34px;
  }
}

@media screen and (max-width: 340px) {
  .main__content {
    max-width: 405px;
  }

  .main__title {
    margin: 0;
    width: 275px;
    font-size: 34px;
  }

  .main__subtitle {
    width: 280px;
  }

  .main__break-desktop {
    display: none;
  }
}

@media screen and (max-width: 320px) {
  .main__content {
    width: 100%;
    height: 480px;
  }

  .main__heading {
    height: 168px;
    gap: 16px;
  }

  .main__title {
    width: 285px;
    height: 80px;
    font-size: 34px;
    margin: 0;
    margin-bottom: 10px;
  }

  .main__subtitle {
    width: 288px;
    height: 72px;
    font-size: 18px;
  }

  .main__break-desktop {
    display: none;
  }
}
