.header {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  padding: 32px 0 28px;
  position: relative;
  border-bottom: 1px solid #c4c4c4;
  z-index: 5;
}

.header__title {
  display: flex;
  width: 200px;
  height: 24px;
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
  margin-left: 104px;
  color: white;
}

.header_black {
  background-color: white;
}

.header__title_black {
  color: black;
}

.header__logged-in {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 65px;
  margin-right: 104px;
}

.header__nav-item {
  text-decoration: none;
  font-size: 18px;
  font-weight: 500;
  color: white;
  padding: 0 0 12px;
  margin: 0 15px;
  border-bottom: 2px solid transparent;
}

.header__nav-item_active {
  border-bottom: 2px solid white;
}

.header__nav-item_active_black {
  border-bottom: 2px solid black;
}

.header__nav-item_black {
  color: black;
}

.header__nav-item:hover {
  opacity: 0.6;
  cursor: pointer;
}

.header__profile {
  width: 112px;
  height: 48px;
  color: white;
  border: none;
  background: none;
  border: 1px solid white;
  border-radius: 100px;
  gap: 18px;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.header__profile:hover {
  opacity: 0.6;
  cursor: pointer;
}

.header__profile_black {
  border: 1px solid black !important;
}

.header__profile-button {
  background: none;
  border: none;
  width: 39px;
  height: 24px;
  font-size: 18px;
  font-weight: 500;
  margin: 0 0 0 10px;
  color: white;
}

.header__profile-button:hover {
  opacity: 0.6;
  cursor: pointer;
}

.header__profile-button_black {
  color: black !important;
}

.header__arrow {
  width: 17px;
  height: 24px;
  padding: 15px;
}

.header__container {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 42px;
  margin-right: 104px;
}

.header__register {
  font-size: 18px;
  font-weight: 500;
  color: white;
  width: 176px;
  height: 48px;
  border-radius: 100px;
  background: none;
  border: 1px solid #ffffff;
}

.header__register:hover {
  opacity: 0.6;
  cursor: pointer;
}

/* Tablet Version */

@media screen and (max-width: 768px) {
  .header {
    flex-direction: row;
    padding: 23px 40px 13px;
    align-items: center;
  }

  .header__title {
    font-size: 18px;
    margin-left: 0;
  }

  .header__logged-in,
  .header__container {
    margin-right: 0;
    flex-direction: row;
    gap: 20px;
  }

  .header__profile {
    width: auto;
  }
}
