.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 32px 0 13px;
  position: relative;
  border-bottom: 1px solid #c4c4c4;
  z-index: 5;
}

.header__title {
  display: flex;
  width: 200px;
  height: 24px;
  font-size: 20px;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  line-height: 24px;
  margin-left: 104px;
  color: white;
  list-style: none;
}

.header_black {
  background-color: white;
}

.header__title_black {
  color: black;
}

.header__logged-in {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 65px;
  margin-right: 104px;
  margin-bottom: -31px;
  list-style: none;
}

.header__nav-list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  gap: 40px;
  align-items: center;
}

.header__nav-item {
  display: flex;
  /* align-items: center; */
  text-decoration: none;
  font-size: 18px;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  color: white;
  padding: 0 0 12px;
  margin: 0 15px;
  height: 40px;
  border-bottom: 2px solid transparent;
  list-style: none;
}

.header__nav-item_active {
  border-bottom: 2px solid white;
}

.header__nav-item_active_black {
  border-bottom: 2px solid black;
}

.header__nav-item_black {
  color: black;
}

.header__nav-item:hover {
  opacity: 0.8;
  cursor: pointer;
}

.header__profile {
  width: 112px;
  height: 48px;
  color: white;
  border: none;
  background: none;
  border: 1px solid white;
  border-radius: 100px;
  gap: 20px;
  display: flex;
  align-items: center;
  cursor: pointer;
  margin-bottom: 37px;
  list-style: none;
}

.header__profile:hover {
  opacity: 0.8;
  cursor: pointer;
}

.header__profile_black {
  border: 1px solid black !important;
}

.header__profile-button {
  background: none;
  border: none;
  width: 39px;
  height: 24px;
  font-size: 18px;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  margin: 0 0 0 10px;
  color: white;
}

.header__profile-button:hover {
  opacity: 0.8;
  cursor: pointer;
}

.header__profile-button_black {
  color: black !important;
}

.header__arrow {
  width: 17px;
  height: 24px;
  padding: 15px;
}

.header__container {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 42px;
  margin-right: 104px;
  margin-bottom: -31px;
  list-style: none;
}

.header__register {
  font-size: 18px;
  font-weight: 500;
  color: white;
  width: 176px;
  height: 48px;
  border-radius: 100px;
  background: none;
  border: 1px solid #ffffff;
  margin-bottom: 28px;
}

.header__register:hover {
  opacity: 0.8;
  cursor: pointer;
}

.header__menu-button {
  display: none;
  font-size: 24px;
  background: none;
  border: none;
  color: red;
  cursor: pointer;
}

.header__mobile-menu {
  position: absolute;
  top: 100%;
  right: 0;
  left: 0;
  background-color: white;
  display: flex;
  flex-direction: column;
  padding: 16px 24px;
  gap: 16px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  z-index: 10;
  list-style: none;
}

.header__mobile-menu-link,
.header__mobile-menu-out-button {
  font-size: 18px;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  text-align: left;
  background: none;
  border: none;
  color: white;
  padding: 8px 0;
  cursor: pointer;
}

.header__mobile-menu-out-button:hover,
.header__mobile-menu-link:hover {
  opacity: 0.8;
}

/* Tablet Version */

@media screen and (max-width: 768px) {
  .header {
    flex-direction: row;
    padding: 23px 40px 13px;
    align-items: center;
  }

  .header__title {
    font-size: 18px;
    margin-left: 0;
  }

  .header__logged-in,
  .header__container {
    margin-right: 0;
    flex-direction: row;
    gap: 20px;
  }

  .header__profile {
    width: auto;
  }
}

@media screen and (max-width: 320px) {
  .header {
    width: 100%;
    max-width: 230px;
    padding-right: 34px;
  }

  .header__menu-button {
    display: block;
    margin-right: 24px;
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
  }

  .header__title {
    margin-left: -20px;
  }

  .header__menu-icon {
    width: 24px;
    height: 24px;
    position: absolute;
    top: 36px;
    right: 20px;
  }

  .header__logged-in,
  .header__container {
    display: none;
  }

  .header__mobile-menu {
    background-color: black;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 16px 24px;
    border-top: 1px solid #c4c4c4;
  }

  .header__mobile-menu-link {
    font-size: 18px;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    background: none;
    border: none;
    color: white;
    cursor: pointer;
    margin-left: 20px;
  }

  .header__menu-saved-link {
    font-size: 18px;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    background: none;
    border: none;
    color: white;
    cursor: pointer;
    margin-left: 30px;
  }

  .header__menu-register-button {
    border-radius: 30px;
    width: 272px;
    height: 56px;
    background-color: black;
    color: white;
    border: 1px solid white;
    cursor: pointer;
  }

  .header__menu-out-button {
    border-radius: 30px;
    width: 272px;
    height: 56px;
    background-color: black;
    color: white;
    border: 1px solid white;
    cursor: pointer;
  }

  .header__mobile-menu-link:hover,
  .header__menu-saved-link:hover,
  .header__menu-register-button:hover,
  .header__menu-out-button:hover {
    opacity: 0.7;
  }

  .header_open-mobile {
    background-color: black;
  }

  .header__title_white {
    color: white;
  }
}
