.sign-out-modal {
  position: absolute;
  width: 485px;
  height: 236px;
  background-color: white;
  border-radius: 16px;
}

.modal_opened {
  opacity: 1;
  visibility: visible;
}

.sign-out-container {
  padding: 60px 32px 0;
  display: flex;
  flex-direction: column;
  text-align: center;
  font-size: 20px;
  font-weight: 700;
  gap: 10px;
}

.sign-out-title {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 20px;
}

.sign-out-yes {
  background-color: black;
  color: white;
  padding: 10px 15px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  margin-right: 20px;
}

.sign-out-yes:hover {
  opacity: 0.6;
}

.sign-out-cancel {
  background-color: #ccc;
  padding: 10px 15px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}

.sign-out-cancel:hover {
  opacity: 0.6;
}
